* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
a,
img,
span {
  display: inline-block;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  max-width: 100%;
}

$white-color: #fff;
$black-color: #000;

@font-face {
  font-family: "ZenKakuGothicAntique-Medium";
  src: url(../fonts/ZenKakuGothicAntique-Medium.ttf);
}
@font-face {
  font-family: "ZenKakuGothicAntique-Regular";
  src: url(../fonts/ZenKakuGothicAntique-Regular.ttf);
}
@font-face {
  font-family: "ZenKakuGothicAntique-Bold";
  src: url(../fonts/ZenKakuGothicAntique-Bold.ttf);
}

body {
  font-family: "ZenKakuGothicAntique-Regular";
}

section {
  background-size: cover !important;
  height: 109vh;
  width: 100%;
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right,
      rgb(33, 33, 33, 0.8),
      rgb(66, 66, 66, 0.24)
    );
  }
  .container {
    height: 100%;
    width: 100%;
    .content-container {
      height: 100%;
      width: 100%;
      > div {
        flex-basis: 45%;
      }
      .content-text {
        left: 70px;
        img {
          margin-bottom: 150px;
          width: 273.66px;
          height: 64px;
        }
        .carousel-indicators {
          align-items: center;
          bottom: -50px;
          left: 0;
          margin: 0;
          right: auto;
          .active {
            height: 4px;
            width: 48px;
          }
        }
        .info {
          width: 380px;
          h2,
          p {
            color: $white-color;
          }
          h2 {
            margin-bottom: 25px;
            font: {
              size: 39px;
              family: "ZenKakuGothicAntique-Bold";
            }
          }
          p {
            font-size: 16px;
          }
        }
      }
      .content-form {
        overflow: hidden;
        right: 70px;
        bottom: 0;
        width: 460px;
        background-color: $white-color;
        padding: 40px;
        border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -ms-border-radius: 20px 20px 0 0;
        -o-border-radius: 20px 20px 0 0;
        .started {
          margin-bottom: 24.5px;
          p,
          h2 {
            color: $black-color;
          }
          p {
            font-size: 12.8px;
          }
          h2 {
            font : {
              size: 25px;
              family: "ZenKakuGothicAntique-Medium";
            }
          }
        }
        form {
          margin-bottom: 14px;
          input {
            margin-bottom: 12px;
            padding: 13px;
          }
          input[type="submit"] {
            background-color: #212121;
            color: $white-color;
            font-family: "ZenKakuGothicAntique-Bold";
            font-size: 13px;
            padding-block: 20px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
          }
        }
        .or {
          margin-bottom: 15px;
          display: flex;
          justify-content: center;
          position: relative;
          z-index: 11;
          background-color: $white-color !important;
          font : {
            family: "ZenKakuGothicAntique-Bold";
            size: 16px;
          }
          &::before,
          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
          &::before {
            background-color: #e0e0e0;
            z-index: -2;
          }
          &::after {
            left: 50%;
            top: 0;
            background-color: $white-color;
            z-index: -1;
            width: 50px;
            height: 30px;
            transform: translatex(-50%);
            -webkit-transform: translatex(-50%);
            -moz-transform: translatex(-50%);
            -ms-transform: translatex(-50%);
            -o-transform: translatex(-50%);
          }
        }
        .social-media-sign-up {
          margin-bottom: 35px;
          a {
            color: #616161;
            gap: 70px;
            margin-bottom: 11px;
            padding: 10px 45px;
            border-radius: 8px;
            border: 1px solid #e0e0e0;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            img {
              width: 28px;
              height: 28px;
              &.apple {
                width: 13.5;
              }
            }
          }
        }
        .last-login{
          font-size: 17px;
          color: #212121;
          a{
            text-decoration: underline;
            color: $black-color;
            font : {
              family: "ZenKakuGothicAntique-Bold";
            }
          }
        }
      }
    }
  }
}
